{% extends 'base.html' %}


{% block main %}

    <div  class="container">
        <div  class="row justify-content-center">
            <div  class="col-4">
            <h4 class="h4 mb-3 font-weight-normal">Вход в аккаунт.</h4>
<form class="form-signin" method="post">
{% csrf_token %}
<input type="hidden" name="next" value="{{ next }}">
{{ form }}
<button type="submit" class="btn btn-primary btn-block">Log in</button>
</form>
<p class="mt-5 mb-3 text-muted">&copy; 2020</p>
            </div>
        </div>
    </div>
<h3  class="h3 mb-3 font-weight-normal">Тестовый пользователь: user</h3>
<h3  class="h3 mb-3 font-weight-normal">пароль : 12345</h3>

{% endblock %}