{% extends "base.html" %}
{% load static %}
{% block title %} Hello! {% endblock %}
{% block content %}
    <section class="services-section" id="section-1">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-services">
              <h4>{% if user.is_authenticated %}Приветствую {{ user.username }}.
              {% else %} Для работы необходимо зарегистрироваться!{% endif %}
              </h4>
    {% if user.is_authenticated %}

    <a class="btn btn-primary" href="/avto/view/" role="button">Поиск автомобиля</a>
        <a class="btn btn-primary" href="/avto/add/" role="button">Добавить машину</a>


        {% else %}
        <a class="btn btn-info" href="/accounts/login/" role="button">Вход!</a>
            {% endif %}
          </div> <!-- /.col-md-12 -->
        </div> <!-- /.row -->
        <p> <a class="btn btn-secondary " href="/avto/export/" role="button">'Экспорт БД'</a>
        <a class="btn btn-secondary " href="/avto/import/" role="button">'Импорт БД'</a></p>
        <div class="row">
          <div class="col-md-12 col-services">
              {% if user.is_authenticated %}
              <a class="btn btn-info" href="/accounts/logout/" role="button">Сменить пользователя</a>
              <a class="btn btn-info" href="/accounts/password-change/" role="button">Сменить пароль</a>
              {% endif %}
          </div> <!-- /.col-md-12 -->
        </div> <!-- /.row -->
      </div> <!-- /.container -->
    </section> <!-- /.services-section -->
{% endblock %}



{% block head %}

    {% endblock head %}