{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-180075682-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-180075682-2');
</script>

    <meta charset="UTF-8">
   <!-- <meta http-equiv="Refresh" content="5" /> -->
    <title> {% block title %} zamena {% endblock %} </title>
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.min.css" %} ">
    <link rel="stylesheet" type="text/css" href="{% static "avto/css/index.css" %} ">
    <link rel="stylesheet" type="text/css" href="{% static "css/application.css" %} ">
    <link rel="stylesheet" type="text/css" href="{% static "css/sticky-footer.css" %} ">

    {% block styles%} {% endblock%}

</head>

<body class="flex-column"  >
<div  class="container-fluid ">

{% block user %}
<div class="alert alert-dark" role="alert">
  Пользователь зарегистрирован под ником: {{ user }}
<a href="/accounts/logout" class="badge badge-primary">Сменить</a>
</div>
{% endblock %}

{% block logo %}
    <section class="services-section" >
            <!-- Logo -->
              <a href="/">
                <img src="{% static "img/3.41_b.gif" %} " alt="Logo" height="170" width="170">
              </a>
              <p>
                    Проверка наличия автомобиля в БД для пропуска на територию
              </p>
    </section> <!-- /.services-section -->
{% endblock %}



{% block content %}
{% endblock %}

{% block avto %}
{% endblock %}


{% block main %}
{% endblock %}

{% block list_avto %}
{% endblock %}

{% block my_counter %}


<div class="alert alert-dark" role="alert">
<footer class=" mt-auto py-1">
    <span class="text-muted ">Счетчик показа страницы: </span>
      <span class="badge badge-secondary ">{{ counter }}</span>
  </footer>
</div>
{% endblock %}

<script type="text/javascript" src="{% static "jquery/jquery-3.5.1.min.js"%}"></script>
<script type="text/javascript" src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
{%block scripts %} {% endblock%}
</div>
</body>

</html>



