{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> {% block title %} zamena {% endblock %} </title>

    <link rel="stylesheet" type="text/css" href="{% static "avto/css/index.css" %} ">
    {% block styles%} {% endblock%}

</head>
<body>
{% block nav %}
{% endblock %}

{% block content %}
{% endblock %}

{% block avto %}
{% endblock %}

<div  class="container">
    <div  class="row justify-content-center">
      <div  class="col-4">

      {% block main %}
      {% endblock %}
      </div>
    </div>
  </div>

{% block my_counter %}
{% endblock %}

{% block user %}
  <p class="myc-1"> GПользователь зарегистрирован под ником: {{ user }}</p>
{% endblock %}




{%block scripts %} {% endblock%}
</body>
</html>



