{% extends "base.html" %}
{% block title %} Avto {% endblock %}
{% block nav %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <form class="form-inline my-2 my-lg-0" method="post" action="/baza/">
          {% csrf_token %}
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-1 my-sm-0" type="submit">Поиск автомобиля</button>
        <a class="btn btn-primary" href="/accounts/logout/" role="button">Сменить пользователя</a>
    </form>
</nav>
{% endblock %}

{% block content %}
<form class="form-inline my-2 my-lg-0" method="post" action="/baza/">
{% csrf_token %}
      <input class="form-control mr-sm-2" type="text" placeholder="Номер" aria-label="Search" name="nomer_avto">
      <input class="form-control mr-sm-2" type="text" placeholder="Описание" aria-label="Search" name="discript_avto">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Добавить авто</button>
</form>
{% endblock %}
{% block avto %}

    количество - {{ count }}
 {% endblock %}

