{% extends "base.html" %}
{% block title %} Hello! {% endblock %}
{% block content %}
<h1>Приветствие!</h1>
    <a class="btn btn-primary" href="add/" role="button">Добавить машину</a>
    <a class="btn btn-primary" href="view/" role="button">Поиск автомобиля</a>
    <a class="btn btn-primary" href="/accounts/logout/" role="button">Сменить пользователя</a>
    <a class="btn btn-primary" href="/accounts/password-change/" role="button">Сменить пароль</a>

{% endblock %}

{% block my_counter %}
    <p class="asda">Счетчик показа страницы: {{ counter }}</p>
{% endblock %}
